<button type="button" class="close">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
{{#if country}}
    <h2>{{country}} - {{numberOfTests}} tests</h2>
    {{#if mobile}}
    <h3>Cellular Operators:</h3>
    <ul class="list-unstyled">
        {{#each mobile}}
            <li>
                {{#if proxiedPorts}}
                    <span class="glyphicon glyphicon-remove"></span>
                {{else}}
                    <span class="glyphicon glyphicon-ok"></span>
                {{/if}}
                    {{@key}} ({{numberOfTests}} tests) - {{summary}}
                    {{#if globalIP}}
                        . Global IP provided
                    {{/if}}
                {{#if proxiedPorts}}
                    <br />
                    Communications proxied on ports:
                    {{#each proxiedPorts}}
                        {{.}}
                    {{/each}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
    {{/if}}

    {{#if WIFI}}
        <h3>WiFi networks:</h3>
        
        <ul class="list-unstyled">
            {{#each WIFI}}
                <li>
                {{@key}} ({{numberOfTests}} tests) - {{summary}}
                {{#if globalIP}}
                    . Global IP provided
                {{/if}}
                {{#if proxiedPorts}}
                    <br />
                    Communications proxied on ports:
                    {{#each proxiedPorts}}
                        {{.}}
                    {{/each}}
                {{/if}}
                </li>
            {{/each}}
        </ul>
    {{/if}}

    <h3>Results collected at:</h3>
    <ul class="list-unstyled">
        {{#cities}}
        <li>{{.}}</li>
        {{/cities}}
    </ul>
{{else}}
    No data collected
{{/if}}